footer{
    display: flex;
    height: 4rem;
    background-color: rgb(80, 77, 77);
    align-items: center;
    justify-content: flex-start;
    padding : 0 2rem;
    color: white;
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 2.7rem;
        font-family: sans-serif;
        a {
            color: white;
        }
    }
}